#arena {
	margin: 0 auto;
	margin-top: 2.5%;
	width: 960px;
	height: 640px;
}
body{
	background-image: url(images/webbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#game-canvas{
	border: 5px red;
	border-style:outset;
	opacity: 0;
	display: none;
}
#toast{
	position: absolute;
	margin-left: 15%;
	margin-top: 2%;
	width: 600px;
	font: 40px IMPACT;
	text-align: center;
	color: #6f2;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	transition: opacity 0.5s;
	opacity: 0;
	display: none;
	z-index: 1;
}
#loading{
	position: absolute;
	margin-top: 80px;
	width: 790px;
	font: 55px IMPACT;
	text-align: center;

	transition: opacity 1.0s;
}

#loading-title{
	padding-left: 40px;
	padding-bottom: 30px;
	color: #ff6;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	transition: opacity 1.0s;
	display: none;
	opacity: 0;
}

.explanation{
	color: #ff0;
	text-shadow: 2px 2px 2px rgba(0, 0, 200, 0.5);
	margin-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;

	display: inline;
}
#fps{
	position: absolute;
	margin-top: 50px;
	margin-left: 7.5%;
	margin-right: 92.5%;
	color: #6f2;
	text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
	font: bold 20px IMPACT;
	position: absolute;
	opacity: 0;
	display: none;
	z-index: 2;
}
#score{
	font: 55px IMPACT;
	text-align: center;
	color: #6f2;
	margin-top: 50px;
	margin-left: 90%;
	text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
	position: absolute;
	opacity: 0;
	display: none;
	z-index: 5;
}
#score-name{
	font: 10px IMPACT;
	text-align: center;
	color: #6f2;
	text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}
#instructions{
	margin-left: 155px;
	padding-left: 5px;
	padding-top: 10px;
	height: 10px;
	color: #ff0;
	font-size: 0.95em;

	transition: opacity 4s;
	display: none;
	opacity: 0;
}
#copyright{
	float: right;
	margin-right: 1%;
	margin-top: -2%;
	padding: 2px;
	color: #6f2;
	text-shadow: 3px 1px 3px rgba(255, 255, 255, 0.5);
	font-size: 25px;

	transition: opacity 4s;
	display: none;
	opacity: 0;
}